@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Components
@inject IBrandingProvider BrandingProvider
<a class="navbar-brand" href="https://preworkscreen.com">
    <img src="@BrandingProvider.LogoUrl" height="60" class="d-inline-block align-top" alt="Preworkscreen" />
</a>